.main {
  width: 100%;
  background: rgba(24, 32, 23, 0.8);
  text-align: center;
  height: 100%;
}

.scroll-loader {
  margin-left: 150px;
}

.long-item-name {
  font-size: 12px;
  color: white;
  margin-left: 13px;
}

p {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 20px;
  margin-bottom: 67px;
  font-size: 15px;
  font-weight: lighter;
  color: #ffffff;
  text-align: left;
}

.p-6 {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  height: 156px;
}

.listing-item-name {
  color: white;
  font-size: 20px;
}

.w-1\/3 {
  width: 30.333333%;
  height: 20%;
  margin: 9px;
}

@media screen and (max-width: 600px) {
  .flex-wrap {
    margin-top: 26px;
    padding-left: 9px;
    padding-right: 17px;
  }

  .w-1\/3 {
    width: 24.333%;
    height: 16%;
    margin-left: 21px;
  }
  .listing-item-name {
    font-size: 12px;
  }
}

@media screen and (min-width: 750px) {
  img {
    margin-left: 70px;
  }
}

@media screen and (min-width: 800px) {
  .listing-item-name {
    text-align: center;
  }
}

.missing-poster {
  width: 180px;
}
